h1 {
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  letter-spacing: 5px;
  margin: 20px;
  text-transform: capitalize;
  color: #f7cded;
  font-weight: 500;
}




h2 {
  font-size: 30px;
  text-align: center
  font-style: oblique;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;

body {
  background: ##f7cded;
  color: #898989;
  font-family: 'Poppins', helvetica;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 20px;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
